*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  background-image: url('../public/assets/img/8140814.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
}

.body{
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-form{
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-form{
  font-size: 18px;
  border-radius: 5px;
  margin-right: 10px;
}

.button-form{
  background-color: red;
  border-radius: 5px;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 18px;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.container-list{
  margin-top: 10px;
  margin-bottom: 10px;
}